{% extends 'base.html' %}

{% load static %}

{% block title %}
	Задача {{ task.title }}
{% endblock %}
{% block content %}
<body>
<h1>Задача {{ task.title }}</h1>


    <ul>
        <li><strong>Описание задачи:</strong> {{ task.description|linebreaksbr }}</li>
        <li><strong style="float: left">Статус:</strong>
            <form method="post" id="statusForm">
                {% csrf_token %}
                {{ form.status }}
            </form></li>
        <li><strong>Date Started:</strong> {{ task.dateStarted|date:"Y-m-d H:i" }}</li>
        <li><strong>Date Ended:</strong> {{ task.dateEnded|date:"Y-m-d H:i" }}</li>
    </ul>

    <button id="deleteTaskBtn" class="btn btn-sm btn-outline-danger delete-board-btn" s >
      Удалить задачу
    </button>


<a href="{% url 'board_detail' board.id %}">← Назад к списку задач</a>

<script>
    document.getElementById('id_status').addEventListener('change', function() {
        document.getElementById('statusForm').submit();
    });

    document.getElementById('id_status').addEventListener('change', function() {
        document.getElementById('statusForm').submit();
    });

    document.getElementById('deleteTaskBtn').addEventListener('click', function() {
        if (!confirm('Вы уверены, что хотите удалить эту задачу?')) return;

        fetch("{% url 'delete_task' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({task_id: {{ task.id }}})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Перенаправляем на страницу списка задач
                window.location.href = "{% url 'board_detail' board.id %}";
            } else {
                alert('Ошибка при удалении: ' + data.error);
            }
        })
        .catch(error => alert('Ошибка: ' + error));
    });
</script>

</body>
{% endblock %}